body {
  background-color: lightgrey;
}

.jumbotron {
  text-align: center;
  background-image: url(https://upload.wikimedia.org/wikipedia/en/0/03/Flag_of_Italy.svg);
  background-size: 100%;
}

h1 {
  color: black;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

}

.container {
  padding-bottom: 40px;
}

.radio label {
  margin-right: 10px;
  font-size: 1.3em;
}

button {
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  font-size: 1.3em;
}

#pizza-menu {
  margin-bottom: 40px;
}

#pizza-menu h2 {
  color: black;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: green;
}

#order-display h2 {
  color: black;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
}

#order-display p {
  font-weight: bold;
}

h4 {
  color: grey;
}

h5 {
  color: grey;
}

.form-group {
  margin-top: 10px;
}

.topping-selection {
  margin-top: 25px;
}

#size-menu {
  margin-top: 50px;
}

#topping-menu {
  margin-top: 50px;
}

#pizza-display {
  margin-top: 50px;
}

.price {
  float: right;
}

#total-box {
  border-top: solid black 1px;
}

#order-display {
  display: none;
}
