.jumbotron {
  text-align: center;
}

.container {
  padding-bottom: 40px;
}

.radio label {
  margin-right: 10px;
  font-size: 1.3em;
}

button {
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  font-size: 1.3em;
}

h4 {
  color: grey;
}

h5 {
  color: grey;
}

.form-group {
  margin-top: 10px;
}

.topping-selection {
  margin-top: 25px;
}

#size-menu {
  margin-top: 50px;
}

#topping-menu {
  margin-top: 50px;
}

#pizza-display {
  margin-top: 50px;
}

.price {
  float: right;
}
